body {
  position: relative;
}

/**********/
/* Header */
/**********/
.header-cont {
  border: 2px solid black;
  height: 25vh;
}
.header-list {
  display: flex;
}
.header-item {
  margin: 2vh;
}

/***********/
/* Welcome */
/***********/
.welcome-cont {
  border: 2px solid black;
  height: 25vh;
}

/*********/
/* About */
/*********/
.about-cont {
  border: 2px solid black;
  height: 25vh;
}

/**********/
/* Skills */
/**********/
.skills-cont {
  border: 2px solid black;
  height: 25vh;
}

/************/
/* Projects */
/************/
.projects-cont {
  border: 2px solid black;
  height: 25vh;
}

/***********/
/* Contact */
/***********/
.contact-cont {
  border: 2px solid black;
  height: 25vh;
}

/**********/
/* Footer */
/**********/
.footer-cont {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-icon {
  height: 3vh;
  min-height: 15px;
  margin-right: 1vh;
}
