section {
  scroll-margin-top: 10vh;
  height: 60vh;
}

/**********/
/* Header */
/**********/
.header-cont {
  border: 2px solid black;
}
.header-list {
  display: flex;
}
.header-item {
  margin: 2vh;
}

/***********/
/* Welcome */
/***********/
.welcome-cont {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********/
/* About */
/*********/
.about-cont {
  border: 2px solid black;
}

/**********/
/* Skills */
/**********/
.skills-cont {
  border: 2px solid black;
}

/************/
/* Projects */
/************/
.projects-cont {
  border: 2px solid black;
}

/***********/
/* Contact */
/***********/
.contact-cont {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-cont div {
  margin: 2vh 0;
}

/**********/
/* Footer */
/**********/
.footer-cont {
  position: fixed;
  bottom: 0;
  right: 0;
}
.footer-icon {
  height: 3vh;
  min-height: 15px;
  margin-right: 1vh;
}

